<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="autoStart" value="True"/>
    <add key="autoMinimize" value="False"/>
    <add key="listenPort" value="8000"/>
    <add key="listenHost" value="http://+"/>
    <add key="comPort" value="COM2"/>
    <add key="comBaud" value="9600"/>
    <add key="uname" value="admin"/>
    <add key="passwd" value="admin"/>
  </appSettings>
</configuration>